
html {
    background-color: green;
}

h1 {
    font-family: Calibri;
    size: 18px;
    color: darkblue;
    text-align: center;
}

.style {
    font-family: Calibri;
    size: 18px;
    color: darkblue;
    text-align: center;
}

#section1 {
    background-color: lightblue;
}

#section2{
    background-color: white;
}

ol {
    font-family: Calibri;
    size: 12px;
    color: white;
}

